# Node / package managers
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Next.js
.next/
out/
.vercel/
.turbo/

# Build / caches
dist/
build/
.cache/
coverage/

# Env & local config
.env*
.env.local
.env.*.local

# OS / editors
.DS_Store
.idea/
.vscode/

# Images brutes (si présentes)
public/images/raw/
public/images/*.jpg
public/images/*.jpeg
public/images/*.png
public/images/*.webp


