# Node / package managers
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Next.js
.next/
out/
.vercel/
.turbo/

# Build / caches
dist/
build/
.cache/
coverage/

# Env & local config
.env*
.env.local
.env.*.local

# OS / editors
.DS_Store
.idea/
.vscode/

# Images brutes (si présentes)
public/images/raw/
public/images/*.jpg
public/images/*.jpeg
public/images/*.png
public/images/*.webp

# Autoriser visuels nécessaires (hero + produits)
!public/images/page1.jpeg
!public/images/page12.jpeg
!public/images/logo.png
!public/images/histoire1.jpg
!public/images/histoire2.jpg
!public/images/histoire3.jpg
!public/images/fanioncassis.png
!public/images/fanionmontpellier.png
!public/images/fanionarcachon.png
!public/images/fanion1.png
!public/images/fanion1-2.JPG
!public/images/banniere.png


